@import "libs/normalize.css";
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
}
.container-fluid {
  width: 100%;
}
.logo-holder {
  width: 220px;
  height: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.navigation-holder {
  width: 700px;
  height: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: uppercase;
}
.navigation-list__list-item {
  padding-left: 30px;
}
.navigation-list__list-item a {
  font-family: 'Montserrat', sans-serif;
  color: #777;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease-out;
  padding-bottom: 7px;
  border-bottom: 0px solid #7cc576;
}
.navigation-list__list-item a:hover,
.navigation-list__list-item a:focus,
.navigation-list__list-item a:active {
  color: #2AB41F;
  border-bottom: 1px solid #7cc576;
  text-decoration: none;
  padding-bottom: 3px;
}
.navigation-list__list-item a:active {
  color: #f86900;
  border-bottom: 1px solid #7cc576;
  padding-bottom: 3px;
  text-decoration: none;
}
.header {
  height: 530px;
  background-image: url(../../img/);
}
