@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/* line 1, base\_grid.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_grid\.less}line{font-family:\000031}}
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 940px) {
  /* line 6, base\_grid.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_grid\.less}line{font-family:\000036}}
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* line 13, base\_grid.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_grid\.less}line{font-family:\0000313}}
.container-padding {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 18, base\_grid.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_grid\.less}line{font-family:\0000318}}
.row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 940px) {
  /* line 22, base\_grid.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_grid\.less}line{font-family:\0000322}}
  .row {
    flex-direction: column;
  }
}
/* line 27, base\_grid.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_grid\.less}line{font-family:\0000327}}
.container-fluid {
  width: 100%;
}
/* line 31, base\_grid.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_grid\.less}line{font-family:\0000331}}
.col-1-of-3 {
  width: 33%;
}
@media (max-width: 940px) {
  /* line 34, base\_grid.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_grid\.less}line{font-family:\0000334}}
  .col-1-of-3 {
    width: 100%;
  }
}
/* line 5, base\_base.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_base\.less}line{font-family:\000035}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 12, base\_base.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/base\/_base\.less}line{font-family:\0000312}}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
  font-size: 16px;
}
/* line 1, blocks\_headers.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_headers\.less}line{font-family:\000031}}
.heading-block {
  margin-bottom: 80px;
  text-align: center;
}
/* line 6, blocks\_headers.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_headers\.less}line{font-family:\000036}}
.heading-1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #FFF;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
@media (max-width: 940px) {
  /* line 16, blocks\_headers.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_headers\.less}line{font-family:\0000316}}
  .heading-1 {
    font-size: 40px;
  }
}
/* line 21, blocks\_headers.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_headers\.less}line{font-family:\0000321}}
.heading-2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #222;
  line-height: 50px;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
}
@media (max-width: 940px) {
  /* line 32, blocks\_headers.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_headers\.less}line{font-family:\0000332}}
  .heading-2 {
    font-size: 30px;
  }
}
/* line 37, blocks\_headers.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_headers\.less}line{font-family:\0000337}}
.heading-2.white {
  color: #FFF;
}
/* line 41, blocks\_headers.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_headers\.less}line{font-family:\0000341}}
.heading-2 em {
  color: #7cc576;
  font-style: normal;
}
/* line 46, blocks\_headers.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_headers\.less}line{font-family:\0000346}}
.subtitle {
  font-size: 20px;
  color: #CCC;
  font-family: 'Roboto Slab';
  margin-top: 0;
}
@media (max-width: 940px) {
  /* line 52, blocks\_headers.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_headers\.less}line{font-family:\0000352}}
  .subtitle {
    font-size: 18px;
  }
}
/* line 1, blocks\_buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_buttons\.less}line{font-family:\000031}}
.button {
  height: 60px;
  background-color: #7CC576;
  border-radius: 60px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 35px;
}
/* line 1, blocks\_lists.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_lists\.less}line{font-family:\000031}}
.list-icons-check {
  list-style-type: none;
  margin: 30px 0 45px 0;
  padding: 0;
}
/* line 6, blocks\_lists.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_lists\.less}line{font-family:\000036}}
.list-icons-check li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  margin-bottom: 10px;
}
/* line 14, blocks\_lists.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_lists\.less}line{font-family:\0000314}}
.list-icons-check li:before {
  content: "";
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  width: 33px;
  height: 33px;
  top: 0;
  left: 0;
}
/* line 1, blocks\_navigation.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\000031}}
.logo-holder {
  width: 220px;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (max-width: 940px) {
  /* line 6, blocks\_navigation.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\000036}}
  .logo-holder {
    width: 100%;
    text-align: center;
    padding-top: 80px;
  }
}
/* line 13, blocks\_navigation.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000313}}
.navigation-button {
  display: none;
}
/* line 17, blocks\_navigation.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000317}}
.navigation-holder {
  width: 700px;
  height: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (max-width: 940px) {
  /* line 23, blocks\_navigation.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000323}}
  .navigation-holder {
    display: none;
  }
}
@media (max-width: 940px) {
  /* line 28, blocks\_navigation.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000328}}
  .navigation-holder--mobile-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(124, 197, 118, 0.95);
    padding-top: 80px;
  }
}
/* line 42, blocks\_navigation.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000342}}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: uppercase;
}
@media (max-width: 940px) {
  /* line 51, blocks\_navigation.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000351}}
  .navigation-list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
  }
}
/* line 59, blocks\_navigation.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000359}}
.navigation-list__list-item {
  padding-left: 30px;
}
/* line 62, blocks\_navigation.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000362}}
.navigation-list__list-item a {
  font-family: 'Montserrat', sans-serif;
  color: #777;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease-out;
  padding-bottom: 7px;
  border-bottom: 0px solid #7cc576;
}
@media (max-width: 940px) {
  /* line 71, blocks\_navigation.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000371}}
  .navigation-list__list-item a {
    color: #FFF;
  }
}
/* line 75, blocks\_navigation.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000375}}
.navigation-list__list-item a:hover,
.navigation-list__list-item a:focus,
.navigation-list__list-item a:active {
  color: #2ab41f;
  border-bottom: 1px solid #2ab41f;
  text-decoration: none;
  padding-bottom: 3px;
  outline: none;
}
/* line 83, blocks\_navigation.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_navigation\.less}line{font-family:\0000383}}
.navigation-list__list-item a:active {
  border-bottom: 1px solid #FFF;
  padding-bottom: 3px;
  text-decoration: none;
}
/* line 1, blocks\_header.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_header\.less}line{font-family:\000031}}
.header {
  height: 530px;
  background-image: url(../img/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* line 13, blocks\_header.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_header\.less}line{font-family:\0000313}}
.header-content {
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
/* line 1, blocks\_service-box.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_service-box\.less}line{font-family:\000031}}
.service-box {
  text-align: center;
}
/* line 5, blocks\_service-box.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_service-box\.less}line{font-family:\000035}}
.service-box__icon {
  margin-bottom: 35px;
}
/* line 9, blocks\_service-box.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_service-box\.less}line{font-family:\000039}}
.service-box__header {
  font-size: 18px;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
/* line 19, blocks\_service-box.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_service-box\.less}line{font-family:\0000319}}
.service-box__text {
  font-family: 'Roboto Slab';
  font-size: 14px;
  color: #777777;
  letter-spacing: -0.5px;
}
/* line 1, blocks\_special-bg-block.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_special-bg-block\.less}line{font-family:\000031}}
.special-bg-block {
  display: flex;
  flex-direction: row;
}
/* line 6, blocks\_special-bg-block.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_special-bg-block\.less}line{font-family:\000036}}
.background-icon {
  width: 30%;
  background-color: #E9E9E9;
  position: relative;
}
@media (max-width: 940px) {
  /* line 11, blocks\_special-bg-block.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_special-bg-block\.less}line{font-family:\0000311}}
  .background-icon {
    display: none;
  }
}
/* line 17, blocks\_special-bg-block.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_special-bg-block\.less}line{font-family:\0000317}}
.background-icon:after {
  display: block;
  width: 190px;
  height: 100%;
  position: absolute;
  content: "";
  background-image: url(../img/gear.png);
  background-repeat: no-repeat;
  background-position: left center;
  right: 0px;
  top: 0px;
}
/* line 32, blocks\_special-bg-block.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_special-bg-block\.less}line{font-family:\0000332}}
.background-photo {
  width: 70%;
  background-image: url(../img/bg-relax.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
@media (max-width: 940px) {
  /* line 40, blocks\_special-bg-block.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_special-bg-block\.less}line{font-family:\0000340}}
  .background-photo {
    width: 100%;
  }
}
/* line 45, blocks\_special-bg-block.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_special-bg-block\.less}line{font-family:\0000345}}
.special-bg-block-content {
  padding: 100px;
  width: 700px;
  color: #cccccc;
}
@media (max-width: 940px) {
  /* line 51, blocks\_special-bg-block.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Web\/treehouse home\/less\/blocks\/_special-bg-block\.less}line{font-family:\0000351}}
  .special-bg-block-content {
    width: 100%;
    padding: 35px 15px;
  }
}
/*# sourceMappingURL=main.css.map */