.heading-block {
    margin-bottom: 80px;
    text-align: center;
}

.heading-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #FFF;
    line-height: 65px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;

}

.heading-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #222;
    line-height: 45px; 
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    color: #CCC;
    font-family: 'Roboto Slab';
    margin-top: 0;
}